
.box2{
    /* height: 600px; */
    width: 100%;
    /* border: 2px solid black; */
   
    background-repeat:no-repeat;
    background-size:100% 700px;
    display: inline-block;
   position: absolute;
   
  
}


.cute1{
    position: relative;
    bottom:150px;
}
